@font-face {
    font-family: 'Menu Button Icon Set';
    src:    url('fonts/Webdesign-Pack-3.eot?7e41j6');
    src:    url('fonts/Webdesign-Pack-3.eot?7e41j6#iefix') format('embedded-opentype'),
        url('fonts/Webdesign-Pack-3.ttf?7e41j6') format('truetype'),
        url('fonts/Webdesign-Pack-3.woff?7e41j6') format('woff'),
        url('fonts/Webdesign-Pack-3.svg?7e41j6#Webdesign-Pack-3') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="la160a82fdc603f75e1c3850944d69df4d-"], [class*=" la160a82fdc603f75e1c3850944d69df4d-"] {
    
    font-family: 'Menu Button Icon Set' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.la160a82fdc603f75e1c3850944d69df4d-arrows-1:before {
    content: "\e900";
}
.la160a82fdc603f75e1c3850944d69df4d-arrows-2:before {
    content: "\e901";
}
.la160a82fdc603f75e1c3850944d69df4d-arrows-3:before {
    content: "\e902";
}
.la160a82fdc603f75e1c3850944d69df4d-arrows:before {
    content: "\e903";
}
.la160a82fdc603f75e1c3850944d69df4d-black:before {
    content: "\e904";
}
.la160a82fdc603f75e1c3850944d69df4d-business:before {
    content: "\e905";
}
.la160a82fdc603f75e1c3850944d69df4d-circle-1:before {
    content: "\e906";
}
.la160a82fdc603f75e1c3850944d69df4d-circle-2:before {
    content: "\e907";
}
.la160a82fdc603f75e1c3850944d69df4d-circle:before {
    content: "\e908";
}
.la160a82fdc603f75e1c3850944d69df4d-commerce-1:before {
    content: "\e909";
}
.la160a82fdc603f75e1c3850944d69df4d-commerce:before {
    content: "\e90a";
}
.la160a82fdc603f75e1c3850944d69df4d-cross-1:before {
    content: "\e90b";
}
.la160a82fdc603f75e1c3850944d69df4d-cross-2:before {
    content: "\e90c";
}
.la160a82fdc603f75e1c3850944d69df4d-cross:before {
    content: "\e90d";
}
.la160a82fdc603f75e1c3850944d69df4d-food-1:before {
    content: "\e90e";
}
.la160a82fdc603f75e1c3850944d69df4d-food-2:before {
    content: "\e90f";
}
.la160a82fdc603f75e1c3850944d69df4d-food:before {
    content: "\e910";
}
.la160a82fdc603f75e1c3850944d69df4d-gear:before {
    content: "\e911";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-1:before {
    content: "\e912";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-2:before {
    content: "\e913";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-3:before {
    content: "\e914";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-4:before {
    content: "\e915";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-5:before {
    content: "\e916";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-6:before {
    content: "\e917";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-7:before {
    content: "\e918";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-8:before {
    content: "\e919";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-9:before {
    content: "\e91a";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-10:before {
    content: "\e91b";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-11:before {
    content: "\e91c";
}
.la160a82fdc603f75e1c3850944d69df4d-interface-12:before {
    content: "\e91d";
}
.la160a82fdc603f75e1c3850944d69df4d-interface:before {
    content: "\e91e";
}
.la160a82fdc603f75e1c3850944d69df4d-line-1:before {
    content: "\e91f";
}
.la160a82fdc603f75e1c3850944d69df4d-line-2:before {
    content: "\e920";
}
.la160a82fdc603f75e1c3850944d69df4d-line-3:before {
    content: "\e921";
}
.la160a82fdc603f75e1c3850944d69df4d-line:before {
    content: "\e922";
}
.la160a82fdc603f75e1c3850944d69df4d-market:before {
    content: "\e923";
}
.la160a82fdc603f75e1c3850944d69df4d-paper:before {
    content: "\e924";
}
.la160a82fdc603f75e1c3850944d69df4d-shapes-1:before {
    content: "\e925";
}
.la160a82fdc603f75e1c3850944d69df4d-shapes-2:before {
    content: "\e926";
}
.la160a82fdc603f75e1c3850944d69df4d-shapes-3:before {
    content: "\e927";
}
.la160a82fdc603f75e1c3850944d69df4d-shapes:before {
    content: "\e928";
}
.la160a82fdc603f75e1c3850944d69df4d-social:before {
    content: "\e929";
}
.la160a82fdc603f75e1c3850944d69df4d-square:before {
    content: "\e92a";
}
.la160a82fdc603f75e1c3850944d69df4d-squares:before {
    content: "\e92b";
}
.la160a82fdc603f75e1c3850944d69df4d-three-1:before {
    content: "\e92c";
}
.la160a82fdc603f75e1c3850944d69df4d-three-2:before {
    content: "\e92d";
}
.la160a82fdc603f75e1c3850944d69df4d-three:before {
    content: "\e92e";
}
.la160a82fdc603f75e1c3850944d69df4d-tool-1:before {
    content: "\e92f";
}
.la160a82fdc603f75e1c3850944d69df4d-tool-2:before {
    content: "\e930";
}
.la160a82fdc603f75e1c3850944d69df4d-tool:before {
    content: "\e931";
}

