@font-face {
    font-family: 'Elegant Themes - Line Icons';
    src:    url('fonts/icomoon.eot?ry7bfm');
    src:    url('fonts/icomoon.eot?ry7bfm#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ry7bfm') format('truetype'),
        url('fonts/icomoon.woff?ry7bfm') format('woff'),
        url('fonts/icomoon.svg?ry7bfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="la2d74fed4cfb9e2b1fa69ed7cad410af3-"], [class*=" la2d74fed4cfb9e2b1fa69ed7cad410af3-"] {
    
    font-family: 'Elegant Themes - Line Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.la2d74fed4cfb9e2b1fa69ed7cad410af3-mobile:before {
    content: "\e000";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-laptop:before {
    content: "\e001";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-desktop:before {
    content: "\e002";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-tablet:before {
    content: "\e003";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-phone:before {
    content: "\e004";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-document:before {
    content: "\e005";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-documents:before {
    content: "\e006";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-search:before {
    content: "\e007";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-clipboard:before {
    content: "\e008";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-newspaper:before {
    content: "\e009";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-notebook:before {
    content: "\e00a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-book-open:before {
    content: "\e00b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-browser:before {
    content: "\e00c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-calendar:before {
    content: "\e00d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-presentation:before {
    content: "\e00e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-picture:before {
    content: "\e00f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-pictures:before {
    content: "\e010";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-video:before {
    content: "\e011";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-camera:before {
    content: "\e012";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-printer:before {
    content: "\e013";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-toolbox:before {
    content: "\e014";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-briefcase:before {
    content: "\e015";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-wallet:before {
    content: "\e016";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-gift:before {
    content: "\e017";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-bargraph:before {
    content: "\e018";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-grid:before {
    content: "\e019";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-expand:before {
    content: "\e01a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-focus:before {
    content: "\e01b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-edit:before {
    content: "\e01c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-adjustments:before {
    content: "\e01d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-ribbon:before {
    content: "\e01e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-hourglass:before {
    content: "\e01f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-lock:before {
    content: "\e020";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-megaphone:before {
    content: "\e021";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-shield:before {
    content: "\e022";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-trophy:before {
    content: "\e023";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-flag:before {
    content: "\e024";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-map:before {
    content: "\e025";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-puzzle:before {
    content: "\e026";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-basket:before {
    content: "\e027";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-envelope:before {
    content: "\e028";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-streetsign:before {
    content: "\e029";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-telescope:before {
    content: "\e02a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-gears:before {
    content: "\e02b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-key:before {
    content: "\e02c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-paperclip:before {
    content: "\e02d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-attachment:before {
    content: "\e02e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-pricetags:before {
    content: "\e02f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-lightbulb:before {
    content: "\e030";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-layers:before {
    content: "\e031";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-pencil:before {
    content: "\e032";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-tools:before {
    content: "\e033";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-tools-2:before {
    content: "\e034";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-scissors:before {
    content: "\e035";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-paintbrush:before {
    content: "\e036";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-magnifying-glass:before {
    content: "\e037";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-circle-compass:before {
    content: "\e038";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-linegraph:before {
    content: "\e039";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-mic:before {
    content: "\e03a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-strategy:before {
    content: "\e03b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-beaker:before {
    content: "\e03c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-caution:before {
    content: "\e03d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-recycle:before {
    content: "\e03e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-anchor:before {
    content: "\e03f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-profile-male:before {
    content: "\e040";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-profile-female:before {
    content: "\e041";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-bike:before {
    content: "\e042";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-wine:before {
    content: "\e043";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-hotairballoon:before {
    content: "\e044";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-globe:before {
    content: "\e045";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-genius:before {
    content: "\e046";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-map-pin:before {
    content: "\e047";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-dial:before {
    content: "\e048";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-chat:before {
    content: "\e049";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-heart:before {
    content: "\e04a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-cloud:before {
    content: "\e04b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-upload:before {
    content: "\e04c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-download:before {
    content: "\e04d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-target:before {
    content: "\e04e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-hazardous:before {
    content: "\e04f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-piechart:before {
    content: "\e050";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-speedometer:before {
    content: "\e051";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-global:before {
    content: "\e052";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-compass:before {
    content: "\e053";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-lifesaver:before {
    content: "\e054";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-clock:before {
    content: "\e055";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-aperture:before {
    content: "\e056";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-quote:before {
    content: "\e057";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-scope:before {
    content: "\e058";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-alarmclock:before {
    content: "\e059";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-refresh:before {
    content: "\e05a";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-happy:before {
    content: "\e05b";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-sad:before {
    content: "\e05c";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-facebook:before {
    content: "\e05d";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-twitter:before {
    content: "\e05e";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-googleplus:before {
    content: "\e05f";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-rss:before {
    content: "\e060";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-tumblr:before {
    content: "\e061";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-linkedin:before {
    content: "\e062";
}
.la2d74fed4cfb9e2b1fa69ed7cad410af3-dribbble:before {
    content: "\e063";
}

